In [9]:
import pandas as pd
import json

df = pd.read_json("/Users/harshitsharma/Code/exp/factorio-data-collector/factorio_replays/replay-logs/craft_item_collated.jsonl", lines=True)

df.head()

df.tail()

df.info()

df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   t                176 non-null    int64
 1   p                176 non-null    int64
 2   ev               176 non-null    object
 3   action           176 non-null    object
 4   recipe           176 non-null    object
 5   start_tick       176 non-null    int64
 6   end_tick         176 non-null    int64
 7   duration_ticks   176 non-null    int64
 8   total_queued     176 non-null    int64
 9   total_crafted    176 non-null    int64
 10  total_cancelled  176 non-null    int64
 11  x                176 non-null    float64
 12  y                176 non-null    float64
dtypes: float64(2), int64(8), object(3)
memory usage: 18.0+ KB

,t,p,start_tick,end_tick,duration_ticks,total_queued,total_crafted,total_cancelled,x,y
count,176.000000,176.0,176.000000,176.000000,176.000000,176.000000,176.000000,176.000000,176.000000,176.000000
mean,103292.590909,1.0,100792.511364,103292.590909,2500.079545,29.528409,14.340909,15.011364,-15.065909,72.784659
std,86517.765725,0.0,86083.682704,86517.765725,4672.851806,103.547915,22.732676,99.432503,25.717438,52.218040
min,895.000000,1.0,617.000000,895.000000,57.000000,1.000000,0.000000,0.000000,-86.600000,-20.600000
25%,34318.250000,1.0,33908.500000,34318.250000,554.250000,5.000000,3.750000,0.000000,-27.675000,29.475000
50%,82271.500000,1.0,81266.000000,82271.500000,1125.500000,10.000000,8.000000,0.000000,-13.500000,73.100000
75%,143622.500000,1.0,139170.500000,143622.500000,2597.500000,20.000000,15.250000,0.000000,-6.025000,110.925000
max,356716.000000,1.0,356624.000000,356716.000000,43198.000000,1036.000000,217.000000,976.000000,79.400000,195.100000

In [10]:
df.total_cancelled.value_counts()

total_cancelled
0      156
5        3
10       2
3        2
1        2
32       1
7        1
15       1
483      1
25       1
12       1
33       1
976      1
691      1
321      1
4        1
Name: count, dtype: int64

In [11]:
import pandas as pd
import json

df = pd.read_json("/Users/harshitsharma/Code/exp/factorio-data-collector/factorio_replays/replay-logs/move_to_collated.jsonl", lines=True)

df.head()

df.tail()

df.info()

df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3991 entries, 0 to 3990
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   t               3991 non-null   int64
 1   p               3991 non-null   int64
 2   ev              3991 non-null   object
 3   x               3991 non-null   float64
 4   y               3991 non-null   float64
 5   action          3991 non-null   object
 6   direction       3991 non-null   object
 7   start_tick      3991 non-null   int64
 8   end_tick        3991 non-null   int64
 9   duration_ticks  3991 non-null   int64
 10  start_x         3991 non-null   float64
 11  start_y         3991 non-null   float64
 12  end_x           3991 non-null   float64
 13  end_y           3991 non-null   float64
 14  distance        3991 non-null   float64
dtypes: float64(7), int64(5), object(3)
memory usage: 467.8+ KB

,t,p,x,y,start_tick,end_tick,duration_ticks,start_x,start_y,end_x,end_y,distance
count,3991.000000,3991.0,3991.000000,3991.000000,3991.000000,3991.000000,3991.000000,3991.000000,3991.000000,3991.000000,3991.000000,3991.000000
mean,154224.774493,1.0,-7.690604,91.396492,154144.603107,154224.774493,80.171386,-7.687747,91.358356,-7.690604,91.396492,4.575896
std,95969.139675,0.0,47.899604,59.616065,95959.272795,95969.139675,133.825687,47.898174,59.620038,47.899604,59.616065,6.504373
min,38.000000,1.0,-156.900000,-29.700000,8.000000,38.000000,0.000000,-156.900000,-29.700000,-156.900000,-29.700000,0.000000
25%,67716.000000,1.0,-29.000000,34.900000,67592.000000,67716.000000,14.000000,-29.000000,34.900000,-29.000000,34.900000,1.100000
50%,143555.000000,1.0,-15.400000,98.000000,143548.000000,143555.000000,33.000000,-15.400000,98.000000,-15.400000,98.000000,2.400000
75%,233517.500000,1.0,1.900000,124.000000,233506.000000,233517.500000,83.000000,1.900000,124.000000,1.900000,124.000000,5.100000
max,341014.000000,1.0,202.100000,237.100000,341007.000000,341014.000000,1193.000000,202.100000,237.100000,202.100000,237.100000,78.900000

In [20]:
import pandas as pd
import json

df = pd.read_json("/Users/harshitsharma/Code/exp/factorio-data-collector/factorio_replays/replay-logs/insert_item.jsonl", lines=True)

display(df.head())

display(df.tail())

display(df.info())

df.describe()

,t,p,ev,action,transfer_type,item,count,direction,x,y,entity,is_split,from_player,target_entity
0,553,1,on_player_main_inventory_changed,insert_item,inventory_change,burner-mining-drill,1.0,to_player,-7.9,-21.0,NaN,NaN,NaN,NaN
1,553,1,on_player_main_inventory_changed,insert_item,inventory_change,stone-furnace,1.0,to_player,-7.9,-21.0,NaN,NaN,NaN,NaN
2,553,1,on_player_main_inventory_changed,insert_item,inventory_change,wood,1.0,to_player,-7.9,-21.0,NaN,NaN,NaN,NaN
3,553,1,on_player_main_inventory_changed,insert_item,inventory_change,stone,47.0,to_player,-7.9,-21.0,NaN,NaN,NaN,NaN
4,553,1,on_player_main_inventory_changed,insert_item,inventory_change,coal,27.0,to_player,-7.9,-21.0,NaN,NaN,NaN,NaN

,t,p,ev,action,transfer_type,item,count,direction,x,y,entity,is_split,from_player,target_entity
5041,66536,1,on_player_main_inventory_changed,insert_item,inventory_change,stone-furnace,32.0,from_player,3.4,42.6,NaN,NaN,NaN,NaN
5042,66559,1,on_player_main_inventory_changed,insert_item,inventory_change,inserter,1.0,to_player,3.4,44.7,NaN,NaN,NaN,NaN
5043,66590,1,on_player_main_inventory_changed,insert_item,inventory_change,inserter,1.0,to_player,3.4,49.3,NaN,NaN,NaN,NaN
5044,66621,1,on_player_main_inventory_changed,insert_item,inventory_change,inserter,1.0,to_player,2.9,49.9,NaN,NaN,NaN,NaN
5045,66641,1,on_player_main_inventory_changed,insert_item,inventory_change,stone-furnace,22.0,to_player,2.9,46.9,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5046 entries, 0 to 5045
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   t              5046 non-null   int64
 1   p              5046 non-null   int64
 2   ev             5046 non-null   object
 3   action         5046 non-null   object
 4   transfer_type  5046 non-null   object
 5   item           3471 non-null   object
 6   count          3471 non-null   float64
 7   direction      3464 non-null   object
 8   x              5046 non-null   float64
 9   y              5046 non-null   float64
 10  entity         1582 non-null   object
 11  is_split       1575 non-null   float64
 12  from_player    1575 non-null   float64
 13  target_entity  67 non-null     object
dtypes: float64(5), int64(2), object(7)
memory usage: 552.0+ KB

None

,t,p,count,x,y,is_split,from_player
count,5046.000000,5046.0,3471.000000,5046.000000,5046.000000,1575.000000,1575.000000
mean,37407.647047,1.0,12.743878,-13.932759,29.822731,0.055238,0.076825
std,17528.280596,0.0,21.294513,10.563491,19.395970,0.228517,0.266399
min,553.000000,1.0,1.000000,-58.400000,-29.700000,0.000000,0.000000
25%,24643.750000,1.0,1.000000,-19.100000,19.900000,0.000000,0.000000
50%,38253.000000,1.0,5.000000,-16.900000,30.500000,0.000000,0.000000
75%,52227.000000,1.0,14.000000,-6.900000,40.100000,0.000000,0.000000
max,66641.000000,1.0,308.000000,16.200000,91.600000,1.000000,1.000000

transfer_type
inventory_change             11789
fast_transfer_from_entity     2202
gui_transfer                   514
fast_transfer_to_entity        482
z_key_insert                    18
drop_to_ground                  11
Name: count, dtype: int64

In [21]:
import pandas as pd
import json

df = pd.read_json("/Users/harshitsharma/Code/exp/factorio-data-collector/factorio_replays/replay-logs/insert_item_collated.jsonl", lines=True)

display(df.head())

display(df.tail())

display(df.info())

df.describe()

,t,p,ev,action,transfer_type,item,count,direction,x,y,entity,is_split,from_player,target_entity
0,617,1,on_player_main_inventory_changed,insert_item_collated,inventory_change,burner-mining-drill,1.0,to_player,-14.6,-14.3,NaN,NaN,NaN,NaN
1,617,1,on_player_main_inventory_changed,insert_item_collated,inventory_change,stone-furnace,1.0,to_player,-14.6,-14.3,NaN,NaN,NaN,NaN
2,617,1,on_player_main_inventory_changed,insert_item_collated,inventory_change,wood,1.0,to_player,-14.6,-14.3,NaN,NaN,NaN,NaN
3,617,1,on_player_main_inventory_changed,insert_item_collated,inventory_change,coal,27.0,to_player,-14.6,-14.3,NaN,NaN,NaN,NaN
4,617,1,on_player_main_inventory_changed,insert_item_collated,inventory_change,stone,2.0,to_player,-14.6,-14.3,NaN,NaN,NaN,NaN

,t,p,ev,action,transfer_type,item,count,direction,x,y,entity,is_split,from_player,target_entity
9522,274133,1,on_player_fast_transferred,insert_item_collated,fast_transfer_from_entity,NaN,NaN,NaN,-18.6,31.7,stone-furnace,0.0,0.0,NaN
9523,274144,1,on_player_fast_transferred,insert_item_collated,fast_transfer_from_entity,NaN,NaN,NaN,-18.6,30.1,stone-furnace,0.0,0.0,NaN
9524,274164,1,on_player_fast_transferred,insert_item_collated,fast_transfer_from_entity,NaN,NaN,NaN,-18.6,27.1,assembling-machine-1,0.0,0.0,NaN
9525,274192,1,on_player_fast_transferred,insert_item_collated,fast_transfer_from_entity,NaN,NaN,NaN,-18.4,23.9,assembling-machine-1,0.0,0.0,NaN
9526,274277,1,on_player_fast_transferred,insert_item_collated,fast_transfer_from_entity,NaN,NaN,NaN,-19.4,16.7,burner-mining-drill,0.0,0.0,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9527 entries, 0 to 9526
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   t              9527 non-null   int64
 1   p              9527 non-null   int64
 2   ev             9527 non-null   object
 3   action         9527 non-null   object
 4   transfer_type  9527 non-null   object
 5   item           7089 non-null   object
 6   count          7089 non-null   float64
 7   direction      7078 non-null   object
 8   x              9527 non-null   float64
 9   y              9527 non-null   float64
 10  entity         2449 non-null   object
 11  is_split       2438 non-null   float64
 12  from_player    2438 non-null   float64
 13  target_entity  397 non-null    object
dtypes: float64(5), int64(2), object(7)
memory usage: 1.0+ MB

None

,t,p,count,x,y,is_split,from_player
count,9527.000000,9527.0,7089.000000,9527.000000,9527.000000,2438.000000,2438.000000
mean,102314.916868,1.0,27.971223,-15.032025,72.357773,0.097621,0.123052
std,64739.000005,0.0,58.302548,33.859565,50.959197,0.296862,0.328564
min,617.000000,1.0,1.000000,-156.200000,-27.000000,0.000000,0.000000
25%,50997.500000,1.0,1.000000,-25.300000,30.400000,0.000000,0.000000
50%,94223.000000,1.0,6.000000,-17.400000,64.900000,0.000000,0.000000
75%,142712.000000,1.0,41.000000,-6.900000,109.200000,0.000000,0.000000
max,274277.000000,1.0,1036.000000,202.800000,236.100000,1.000000,1.000000

In [19]:

df.transfer_type.value_counts()

transfer_type
inventory_change             6681
fast_transfer_from_entity    2138
fast_transfer_to_entity       300
gui_transfer                  236
z_key_insert                  101
z_key_extract                  60
drop_to_ground                 11
Name: count, dtype: int64

In [17]:
df.head(50)

,t,p,ev,action,transfer_type,item,count,direction,x,y,entity,is_split,from_player,target_entity
0,553,1,on_player_main_inventory_changed,insert_item,inventory_change,burner-mining-drill,1.0,to_player,-7.9,-21.0,NaN,NaN,NaN,NaN
1,553,1,on_player_main_inventory_changed,insert_item,inventory_change,stone-furnace,1.0,to_player,-7.9,-21.0,NaN,NaN,NaN,NaN
2,553,1,on_player_main_inventory_changed,insert_item,inventory_change,wood,1.0,to_player,-7.9,-21.0,NaN,NaN,NaN,NaN
3,553,1,on_player_main_inventory_changed,insert_item,inventory_change,stone,47.0,to_player,-7.9,-21.0,NaN,NaN,NaN,NaN
4,553,1,on_player_main_inventory_changed,insert_item,inventory_change,coal,27.0,to_player,-7.9,-21.0,NaN,NaN,NaN,NaN
5,617,1,on_player_main_inventory_changed,insert_item,inventory_change,stone,45.0,from_player,-14.6,-14.3,NaN,NaN,NaN,NaN
6,647,1,on_player_main_inventory_changed,insert_item,inventory_change,stone-furnace,1.0,to_player,-17.8,-11.1,NaN,NaN,NaN,NaN
7,651,1,on_player_fast_transferred,insert_item,fast_transfer_from_entity,NaN,NaN,NaN,-18.1,-10.8,crash-site-spaceship-wreck-medium-1,0.0,0.0,NaN
8,651,1,on_player_main_inventory_changed,insert_item,inventory_change,iron-plate,2.0,to_player,-18.2,-10.7,NaN,NaN,NaN,NaN
9,678,1,on_player_main_inventory_changed,insert_item,inventory_change,stone-furnace,1.0,to_player,-20.9,-7.8,NaN,NaN,NaN,NaN
10,699,1,on_player_fast_transferred,insert_item,fast_transfer_from_entity,NaN,NaN,NaN,-20.9,-4.8,crash-site-spaceship-wreck-medium-2,0.0,0.0,NaN
11,699,1,on_player_main_inventory_changed,insert_item,inventory_change,iron-plate,1.0,to_player,-20.9,-4.6,NaN,NaN,NaN,NaN
12,709,1,on_player_main_inventory_changed,insert_item,inventory_change,stone-furnace,1.0,to_player,-21.0,-3.2,NaN,NaN,NaN,NaN
13,712,1,on_player_fast_transferred,insert_item,fast_transfer_from_entity,NaN,NaN,NaN,-21.2,-3.0,crash-site-spaceship-wreck-big-2,0.0,0.0,NaN
14,712,1,on_player_main_inventory_changed,insert_item,inventory_change,iron-plate,1.0,to_player,-21.3,-2.9,NaN,NaN,NaN,NaN
15,716,1,on_player_fast_transferred,insert_item,fast_transfer_from_entity,NaN,NaN,NaN,-21.6,-2.6,crash-site-spaceship-wreck-big-2,0.0,0.0,NaN
16,727,1,on_player_fast_transferred,insert_item,fast_transfer_from_entity,NaN,NaN,NaN,-21.9,-1.1,crash-site-spaceship-wreck-big-1,0.0,0.0,NaN
17,727,1,on_player_main_inventory_changed,insert_item,inventory_change,iron-plate,2.0,to_player,-21.9,-0.9,NaN,NaN,NaN,NaN
18,737,1,on_player_fast_transferred,insert_item,fast_transfer_from_entity,NaN,NaN,NaN,-21.9,0.4,crash-site-spaceship-wreck-medium-3,0.0,0.0,NaN
19,737,1,on_player_main_inventory_changed,insert_item,inventory_change,iron-plate,2.0,to_player,-21.9,0.6,NaN,NaN,NaN,NaN
20,740,1,on_player_main_inventory_changed,insert_item,inventory_change,stone-furnace,1.0,to_player,-21.9,1.0,NaN,NaN,NaN,NaN
21,771,1,on_player_main_inventory_changed,insert_item,inventory_change,stone-furnace,1.0,to_player,-22.9,5.2,NaN,NaN,NaN,NaN
22,802,1,on_player_main_inventory_changed,insert_item,inventory_change,stone-furnace,1.0,to_player,-22.9,9.8,NaN,NaN,NaN,NaN
23,804,1,on_player_main_inventory_changed,insert_item,inventory_change,iron-plate,2.0,from_player,-22.9,10.1,NaN,NaN,NaN,NaN
24,812,1,on_player_main_inventory_changed,insert_item,inventory_change,iron-plate,2.0,from_player,-22.9,11.3,NaN,NaN,NaN,NaN
25,819,1,on_player_main_inventory_changed,insert_item,inventory_change,iron-plate,2.0,from_player,-22.9,12.4,NaN,NaN,NaN,NaN
26,833,1,on_player_main_inventory_changed,insert_item,inventory_change,stone-furnace,1.0,to_player,-22.9,14.4,NaN,NaN,NaN,NaN
27,864,1,on_player_main_inventory_changed,insert_item,inventory_change,stone-furnace,1.0,to_player,-22.9,19.0,NaN,NaN,NaN,NaN
28,867,1,on_player_main_inventory_changed,insert_item,inventory_change,stone-furnace,9.0,from_player,-22.9,19.5,NaN,NaN,NaN,NaN
29,926,1,on_player_main_inventory_changed,insert_item,inventory_change,iron-gear-wheel,1.0,to_player,-22.9,28.2,NaN,NaN,NaN,NaN
30,957,1,on_player_main_inventory_changed,insert_item,inventory_change,iron-gear-wheel,1.0,to_player,-22.9,30.6,NaN,NaN,NaN,NaN
31,988,1,on_player_main_inventory_changed,insert_item,inventory_change,iron-gear-wheel,1.0,to_player,-22.9,34.5,NaN,NaN,NaN,NaN
32,1011,1,on_player_main_inventory_changed,insert_item,inventory_change,stone-furnace,5.0,to_player,-22.9,34.5,NaN,NaN,NaN,NaN
33,1020,1,on_player_main_inventory_changed,insert_item,inventory_change,burner-mining-drill,1.0,from_player,-22.9,34.5,NaN,NaN,NaN,NaN
34,1045,1,on_player_main_inventory_changed,insert_item,inventory_change,coal,27.0,from_player,-22.9,34.5,NaN,NaN,NaN,NaN
35,1071,1,on_player_main_inventory_changed,insert_item,inventory_change,coal,17.0,to_player,-22.9,34.5,NaN,NaN,NaN,NaN
36,1117,1,on_player_main_inventory_changed,insert_item,inventory_change,stone-furnace,5.0,from_player,-24.0,32.0,NaN,NaN,NaN,NaN
37,1154,1,on_player_main_inventory_changed,insert_item,inventory_change,stone-furnace,4.0,to_player,-24.0,32.0,NaN,NaN,NaN,NaN
38,1154,1,on_player_main_inventory_changed,insert_item,inventory_change,coal,17.0,from_player,-24.0,32.0,NaN,NaN,NaN,NaN
39,1190,1,on_player_main_inventory_changed,insert_item,inventory_change,coal,14.0,to_player,-24.0,32.0,NaN,NaN,NaN,NaN
40,1324,1,on_player_main_inventory_changed,insert_item,inventory_change,copper-ore,1.0,to_player,-24.0,32.0,NaN,NaN,NaN,NaN
41,1445,1,on_player_main_inventory_changed,insert_item,inventory_change,copper-ore,1.0,to_player,-24.0,32.0,NaN,NaN,NaN,NaN
42,1529,1,on_player_fast_transferred,insert_item,fast_transfer_from_entity,NaN,NaN,NaN,-24.0,32.0,stone-furnace,0.0,0.0,NaN
43,1529,1,on_player_main_inventory_changed,insert_item,inventory_change,iron-plate,1.0,to_player,-24.0,32.0,NaN,NaN,NaN,NaN
44,1576,1,on_player_main_inventory_changed,insert_item,inventory_change,stone-furnace,1.0,from_player,-24.0,32.0,NaN,NaN,NaN,NaN
45,1576,1,on_player_main_inventory_changed,insert_item,inventory_change,iron-plate,3.0,from_player,-24.0,32.0,NaN,NaN,NaN,NaN
46,1576,1,on_player_main_inventory_changed,insert_item,inventory_change,iron-gear-wheel,3.0,from_player,-24.0,32.0,NaN,NaN,NaN,NaN
47,1672,1,on_player_main_inventory_changed,insert_item,inventory_change,copper-ore,1.0,to_player,-24.0,32.0,NaN,NaN,NaN,NaN
48,1696,1,on_player_main_inventory_changed,insert_item,inventory_change,burner-mining-drill,1.0,to_player,-24.0,32.0,NaN,NaN,NaN,NaN
49,1733,1,on_player_main_inventory_changed,insert_item,inventory_change,burner-mining-drill,1.0,from_player,-24.0,32.0,NaN,NaN,NaN,NaN

In [22]:
import pandas as pd
import json

df = pd.read_json("/Users/harshitsharma/Code/exp/factorio-data-collector/factorio_replays/replay-logs/player_inventory_transfers.jsonl", lines=True)

display(df.head())

display(df.tail())

df.info()

,t,p,ev,action,event_name,entity,entity_x,entity_y,items,no_op,x,y
0,651,1,player_inventory_transfers,extract_item,fast_transfer,crash-site-spaceship-wreck-medium-1,-17.6,-6.9,"[{'item': 'iron-plate', 'count': 2}]",False,-18.1,-10.8
1,699,1,player_inventory_transfers,extract_item,fast_transfer,crash-site-spaceship-wreck-medium-2,-27.4,-5.5,"[{'item': 'iron-plate', 'count': 1}]",False,-20.9,-4.8
2,712,1,player_inventory_transfers,extract_item,fast_transfer,crash-site-spaceship-wreck-big-2,-23.6,-2.2,"[{'item': 'iron-plate', 'count': 1}]",False,-21.2,-3.0
3,716,1,player_inventory_transfers,extract_item,fast_transfer,crash-site-spaceship-wreck-big-2,-23.6,-2.2,{},True,-21.6,-2.6
4,727,1,player_inventory_transfers,extract_item,fast_transfer,crash-site-spaceship-wreck-big-1,-25.8,0.1,"[{'item': 'iron-plate', 'count': 2}]",False,-21.9,-1.1

,t,p,ev,action,event_name,entity,entity_x,entity_y,items,no_op,x,y
2940,370004,1,player_inventory_transfers,extract_item,fast_transfer,fast-inserter,29.5,159.5,{},True,24.6,153.8
2941,370112,1,player_inventory_transfers,extract_item,fast_transfer,iron-chest,23.5,159.5,{},True,20.1,153.8
2942,370114,1,player_inventory_transfers,extract_item,fast_transfer,iron-chest,22.5,159.5,"[{'item': 'rocket-fuel', 'count': 6}]",False,20.1,153.8
2943,370116,1,player_inventory_transfers,extract_item,fast_transfer,iron-chest,22.5,159.5,{},True,20.1,153.8
2944,370117,1,player_inventory_transfers,extract_item,fast_transfer,iron-chest,21.5,159.5,"[{'item': 'rocket-fuel', 'count': 18}]",False,20.1,153.8

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2945 entries, 0 to 2944
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   t           2945 non-null   int64
 1   p           2945 non-null   int64
 2   ev          2945 non-null   object
 3   action      2945 non-null   object
 4   event_name  2945 non-null   object
 5   entity      2945 non-null   object
 6   entity_x    2945 non-null   float64
 7   entity_y    2945 non-null   float64
 8   items       2945 non-null   object
 9   no_op       2945 non-null   bool
 10  x           2945 non-null   float64
 11  y           2945 non-null   float64
dtypes: bool(1), float64(4), int64(2), object(5)
memory usage: 256.1+ KB

In [23]:
df.no_op.value_counts()

no_op
False    2397
True      548
Name: count, dtype: int64